body {
	margin: 0 auto;
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	color: #555;
}

h2 {
	margin-top: 1em;
	padding-top: 1em;
}

h1,
h2,
strong {
	color: #333;
}

pre {
	background: #f5f7f9;
	padding: 1em;
	border-bottom: 1px solid #d8dee9;
	border-left: 2px solid #69c;
}

#content {
	margin: 0 auto;
	max-width: 50em;
}

header {
	display: block;
}

header {
	background-color: #263d36;
	background-image: url("header.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	line-height: 1.2;
	padding: 10vw 2em;
	text-align: center;
}

header h1 {
	color: white;
	font-size: 2.5em;
	font-weight: 300;
}
