body {
	margin: 0 auto;
	max-width: 50em;
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	padding: 4em 1em;
	color: #555;
}

h2 {
	margin-top: 1em;
	padding-top: 1em;
}

h1,
h2,
strong {
	color: #333;
}

pre {
	background: #f5f7f9;
	padding: 1em;
	border-bottom: 1px solid #d8dee9;
	border-left: 2px solid #69c;
}
